{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="explain" class="jumbotron jumbotron-fluid my">
        <div class="container">
          <h3 class="display-4">Welcome</h3>
          <p class="lead">오늘의 공부를 자랑해보아요!</p>
        </div>
</div>
<br>
<div class="row mb-2">


{% for i in posts %}
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
                <img src="{{i.image_thumbnail.url}}">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{i.title}}</strong>
                <p class="card-text mb-auto">{{i.sum}}...</p>
                <a href="{% url 'detail' i.id %}" class="stretched-link"> 자세히 </a>
            </div>
            
        </div>
    </div>

 
{% endfor %}


{% endblock %}